<html>
  <body>
    <h1>Check the recommendation</h1>
    <div>
      <form method="POST" action="/movie/check">
        User id: <input type="text" name="user_id" id="user_id" value="<%=@user_id %>" />
        <input type="submit" value="check" />
      </form>
    </div>
    <section style="width:1050px">
    <div style="float:left; width: 300px;">
      <p class="tool-title">User items</p>
      <% @known_items.each do |item| %>
        <p class="title"> <%= item.title %> (<%=item.extra_info %>) </p>
        <p> category: <%= addClass item.category %> </p>
      <%end %>
    </div>
    <div style="float:left; width: 300px; margin-left: 25px;">
      <p class="tool-title">Recommended items (mahout)</p>
      <% @recommended_items.each do |item| %>
        <p class="title"><%= item.title %> (<%=item.extra_info %>) </p>
        <p> category: <%= addClass item.category %> </p>
      <%end %>
    </div>
    <div style="float:left; width: 300px; margin-left: 25px;">
      <p class="tool-title">Recommended items (myrrix)</p>
      <% @recommended_items_myrrix.each do |item| %>
        <p class="title"><%= item.title %> (<%=item.extra_info %>) </p>
        <p> category: <%= addClass item.category %> </p>
      <%end %>
    </div>

    </section>

  </body>
</html>

